#itemDetail {
  margin-top: 2em;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#itemDetail img {
    margin: 0;
}

#itemDetailBody{
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#itemCount{
    text-align: center;
}